
<ul>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
<% end %>
</ul>

<%= form_for(@user) do |f| %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :level %>
    <%= f.text_field :level %>

    <%= f.submit %>
<% end %>

