
<ul>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
<% end %>
</ul>
<<<<<<< HEAD

<%= form_for @user do |f| %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
=======

<%= form_for(@user) do |f| %>
>>>>>>> e13e6fcfe5708c6d8bd3d3aac65677f80052926a

    <%= f.label :full_name %>
    <%= f.text_field :full_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :level %>
    <%= f.text_field :level %>

    <%= f.submit %>
<% end %>

