<h1> Welcome Back, <%= "#{@user.full_name}"%></h1>



<% @user.user_skills.each do |us| %>
    <ul>
        <li>
            <%= us.skill.name %> 
        <p>
            <%= us.level %>
        </p>
    </ul>
<% end %>

<p>
<%= link_to "Take on a new project!", new_user_projects_path %>
</p>

<% @user.user_projects.each do |up| %>
    <% if up.status < 100 %>
        <%= up.project.title %>
        <%= up.status %>
        <%= up.project.pay %>
    <% end %>
<% end %>

<% @user.user_projects.each do |up| %>
    <% if up.status == 100 %>
        <%= up.project.title %>
        <%= up.project.pay %>
    <% end %>
<% end %>



