<h1>Available Projects</h1>

<ul>
    <% @projects.each do |project| %>
        <li>
            <%=" Project: #{project.title} "%>
            <p><%=" Payout: #{project.pay}"%></p>
            <p><%=" Required Skill: #{project.skill.name}"%></P>
            <%= button_to "Work on this project", new_user_project_path, :method => "get" %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Project', new_project_path %>
